<!DOCTYPE html>
<html>
<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles2.css">
  

  <title>Playlist ID Input</title>
 
</head>
<body>

  <header>
    <h1>My Spotify Playlists</h1>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#featuredplaylists">Discover</a></li>
        <li><a href="#featuredplaylists">Library</a></li>
        <li><a href="#featuredplaylists">Playlists</a></li>
      </ul>
    </nav>
  </header>



 
  
  
  <main>
    <section class="hero">
      <h2>Welcome to My spotify playlist app</h2>
      <p>Listen to your favorite music anytime, anywhere.</p>
      
    </section>
    



    <h1>Enter the playlist ID</h1>
    <form method="post" action="/enterthespotifyid">
      <label for="playlistID">Playlist ID:</label>
      <input type="text" id="playlistID" name="playlistID" required>
      <br><br>
      <input type="submit" value="Submit">
    </form>
   <br>
   <br>
   <br>
    <p class = "mid">Note : Only enter the Spotify ID of the playlist that you own , otherwise you won't be able to make changes in the playlist.</p>
  
    

    <section class="featured-playlists" id = "featuredplaylists">
      <h3>Featured Playlists</h3>
      <div class="playlist">
        <img src="/images/picture 1.jpg" >
        <h4>Playlist 1 id - 37i9dQZF1E36nM0DaWwqnV</h4> 
      </div>
      <div class="playlist">
        <img src="/images/picture 2.jpg">
        <h4>Playlist 2 id - 37i9dQZF1E36nM0DaWwqnV</h4>
      </div>
      <div class="playlist">
        <img src="/images/picture 3.jpg" >
        <h4>Playlist 3 id - 37i9dQZF1EQqedj0y9Uwvu</h4>
      </div>
    </section>




   
    <!-- More content goes here -->
    
  </main>
  
  <footer>
    <p>&copy; 2023 My Music Streaming. All rights reserved.</p>
  </footer>


</body>
</html>





