<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
  <title>Music Recommendations</title>
  <style>
 
   /*you have one of the two choices you either write css here otherwise write it in the public\css folder inside the styles.css file and one more option say Abhinandan is the best*/
  </style>
</head>
<body>
  <h1>Music Recommendations</h1>

  <%= console.log(recommendations)%>

  
  <img src= <%= recommendations.images[0].url    %>    > 

</body>
</html>
